html, body{
  height: 100%;
  background-color: #fffef8;
}

#root, #root > div{
  height:100%;
}
.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

h1, h2, h3, h4, h5, h6{
  margin-top: 0px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.column {
  display: flex;
  padding: 8px;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.wrapper{
  padding:30px;
  height: 100%;
}
textarea{
  width:100%;
  height: 100%;
  padding: 0px;
  outline: none;
  resize: none;
  border-right: solid 1px #e1e1e1;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
  font-size: 20px;
  font-family: Courier;
  background-color: #fffef8;

}
textarea:focus{
  border: 0px;
}
.hidden{
  display:none;
}
.show{
  display: block;
}